<p id="notice"><%= notice %></p>


<%= image_tag @game.image_url(:thumb) if @game.image? %>
<br>
  <ul>
    <li>Game Name :
        <%= @game.game_name %>
    </li>
    <li>Description :
        <%= @game.description %>
    </li>
    <li>Game type :
        <%= @game.game_type %>
    </li>
    <li>Year Purchased : 
        <%= @game.year_purchased %>
    </li>
    <br>

    <%# INCLUDES EXCHANGE RATE API, limit 2 decimals %>
    <li>Price : MYR 
        <%= sprintf('%.2f',@game.price) %>
    </li>
    <li>Price : SGD 
        <%= sprintf('%.2f',@game.price * @currencies['SGD']) %>
    </li>
    <li>Price : USD 
        <%= sprintf('%.2f', @game.price * @currencies['USD']) %>
    </li>
  <ul>
<br>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
